.hero-banner {
  width: 100%;
  background-color: rgb(104, 14, 8);
  min-height: 300px;
  padding-top: 60px;
  padding-left: 100px;
  text-align:justify;
  font-size: 35px;
  font-weight: 200;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: azure;
}
